# Build
bin/
obj/

# NuGet
packages/
*.nupkg

# Rider / JetBrains
.idea/
*.iml
_ReSharper*/
*.[Rr]e[Ss]harper*/

# User-specific files
*.user
*.suo

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Visual Studio
.vs/